

# Virtual environments
# .env in a production environment will be deleted the comment
.venv
venv/
env/
.env
.env.local

# Datasets
datasets/

# Postgresql data
postgres_data/

# Geoserver data
geoserver_data/